<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>Narrative Viz for CS416</title>
</head>
<body>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <div><center><h2>Two Decades of Industry Consolidation</h2></center></div>
    
    <center>1988<input id='myslider' type="range" min="0" max="1" step="1" value="0" 
    data-orientation="vertical" oninput=setYear(value)>2008</center>
    <center><div id=bubbleChart></div></center>
    <center><div id=canvas></div></center>
<!-- style section-->
<style></style>

<!-- Code adapted from @Mike Bostock's Race Chart: 
    https://observablehq.com/@d3/bar-chart-race-explained-->
<script>


var width = 460
var height = 460
var diameter = 600
var year = '1988'
let formatCount = d3.format(',')

const path88 = "static/data/flights88.json"
const path08 = "static/data/flights08.json"
const svg2 = d3.select("#canvas")
        .append("svg")
        //.attr("viewBox", [0, 0, width, height])
        .attr("width", diameter)
        .attr("height", diameter)
        .attr("class", "bubble");

//************** RangeSlider Adjust Playback Speed *****************
//console.log(d3.select("#myslider")._groups[0][0].value)
setYear(d3.select("#myslider")._groups[0][0].value)

function setYear(t){
        let dict = {0:path88,1:path08}
        let dict2 = {0:"1988",1:"2008"}
        year = dict2[t]
        var path = dict[t]
        data = loadData(path)
    }

// Three function that change the tooltip when user hover / move / leave a cell
// REF: Tooltip courtesy of https://www.d3-graph-gallery.com/graph/interactivity_tooltip.html
// create a tooltip
var Tooltip = d3.select("#bubbleChart")
    .append("div")
    .style("width", "150px")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "black")
    .style("color", "white")
    .style("border", "solid")
    .style("border-width", "3px")
    .style("border-radius", "15px")
    .style("padding", "5px")

function mouseoverBubble(d) {
    Tooltip
      .style("opacity", 1)
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1)
}
function mousemoveBubble(d) {
    info = d.path[0].__data__.data  //Extract data element from ancestory node
    Tooltip
    .html(info.Code  + " (" + info.Name + "): " + formatCount(info.count) + " flights in " + year)
      .style("left", (d3.pointer(this)[0]+70) + "px")
      .style("top", (d3.pointer(this)[1]) + "px")
      .style("stroke", "white")
      .style("fill", "black")
  }
function mouseleaveBubble(d) {
    Tooltip
      .style("opacity", 0)
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8)
  }


// REF: courtesy- https://bl.ocks.org/johnwalley/e1d256b81e51da68f7feb632a53c3518

function loadData(p){
    var data = d3.json(p)
    data.then(function(data){
        data.children.sort((a, b) => d3.descending(a.count, b.count))
        chart(data)
    })
}

function chart(data){

    var color = d3.scaleOrdinal(d3.schemeTableau10)

    function assignColor(d,i){
        if (i < 10) { return color(i)
        } else { return "black"} //#cccccc
    }
    // Optional TODO: Grey out the nodes lower than rank 10

    svg2.selectAll("*").remove()
    //REF Courtesy of Alok K Shukla: https://bl.ocks.org/alokkshukla/3d6be4be0ef9f6977ec6718b2916d168
    
    var bubble = d3.pack(data)
            .size([diameter, diameter])
            .padding(1.5);

    var nodes = d3.hierarchy(data)
            .sum(function(d) { return d.count; });

    var node = svg2.selectAll(".node")
            .data(bubble(nodes).descendants())
            .enter()
            .filter(function(d){
                return  !d.children
            })
            .append("g")
            .attr("class", "node")
            .attr("transform", function(d) {
                return "translate(" + d.x + "," + d.y + ")";
            });
                
    node.append("title")
                .text(function(d) {
                    return d.Code;
                });
    
    node.append("circle")
            .attr("class", "bubbles")
            .attr("r", function(d) {
                return d.r;
            })
            .style("fill", function(d,i) {
                return assignColor(d,i);
            })
            .on("mouseover", mouseoverBubble)
            .on("mousemove", mousemoveBubble)
            .on("mouseleave", mouseleaveBubble)
    

    node.append("text")
                .attr("dy", ".2em")
                .style("text-anchor", "middle")
                .text(function(d) {
                    return d.data.Code;
                })
                .attr("font-family", "sans-serif")
                .attr("font-size", function(d){
                    return d.r/5;
                })
                .attr("fill", "white");

    d3.select(self.frameElement)
                .style("height", diameter + "px");
}
    
</script>
</body>
</html>
